body{
    background-color: #333;
    padding: 40px;
}
.box {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    animation-name: myframes;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  
  .box.is-paused {
    animation-play-state: paused;
  }
  
     
@keyframes myframes {
    0%{
        background-color: white;
    }
   15%{
    background-color: beige;
   }
    
   25%{
    background-color: rgb(133, 133, 45);
   }
   
   35%{
    background-color: rgb(108, 108, 31);
   }  
    100% {
      transform: rotate(360deg);
    }
    
   65%{
    background-color: rgb(123, 123, 34);
   }
   
   75%{
    background-color: rgb(188, 188, 151);
   }
   
   85%{
    background-color: rgb(184, 184, 99);
   }
    100%{
        background-color: yellow;
    }
}