body{
padding: 5px;
}

.box{
    display: inline-block;
    background-color: pink;
    width: 300px;
    height: 300px;
   position: relative;
   animation: myframes 2s ease-in-out 0s infinite;

    
}

@keyframes myframes {
    from {
      height: 200px;
    }
  
    to {
    height: 600px;    
    background-color: orange;
    }

  }